.container {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.title {
  color: #333;
}

.fetch {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 10px 5px;
}
.inputbox {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 5px;
}
