<!DOCTYPE html>
<html>
<head>
    <title>User Search</title>
    <script type="text/javascript">
       async function updateAction() {
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var form = document.getElementById('searchForm');
            const response = await fetch(form.action = '/user_search/' + encodeURIComponent(email) + '/' + encodeURIComponent(password));

            if (response.ok) {
                alert('Found User!')
            } else{
                alert('Error: User or password incorrect');
                window.location.href = '/user_search_page';  // Redirect back to sign-up page
            }
        }
    </script>
</head>
<body>
    <h1>Search for a User</h1>
    <form id="searchForm" onsubmit="updateAction();">
        <label for="email">User Email:</label>
        <input type="text" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
        <input type="submit" value="Search">
    </form>
</body>
</html>